#include "rc3.h"
#include <windows.h>

IDR_MYMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Exit", ID_FILE_EXIT
	END

	POPUP "&Dialog"
	BEGIN
		MENUITEM "&Show", ID_DIALOG_SHOW
		MENUITEM "&Hide", ID_DIALOG_HIDE
	END
END

IDD_POPUPMENU DIALOGEX 0, 0, 98, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Menu"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON "&Press Button 1", IDC_PRESSBUTTON1, 7, 7, 84, 14
	PUSHBUTTON "&Press Button 2", IDC_PRESSBUTTON2, 7, 31, 84, 14
END