#include "rc7.h"

IDR_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", ID_FILE_NEW
		MENUITEM "&Load", ID_FILE_LOAD
		MENUITEM "&Save", ID_FILE_SAVEAS, GRAYED
		MENUITEM SEPARATOR
        MENUITEM "&Close", ID_FILE_CLOSE, GRAYED
        MENUITEM SEPARATOR
		MENUITEM "&Exit", ID_FILE_EXIT
	END

	POPUP "&Edit", GRAYED
	BEGIN
		MENUITEM "&Cut", ID_EDIT_CUT
		MENUITEM "&Copy", ID_EDIT_COPY
		MENUITEM "&Paste", ID_EDIT_PASTE
	END

	POPUP "&Window"
	BEGIN
		MENUITEM "&Tile", ID_WINDOW_TILE
		MENUITEM "&Cascade", ID_WINDOW_CASCADE
	END
END